# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment folders
env/
venv/
.venv/

# System files
.DS_Store
Thumbs.db

# Ignore large raw datasets (optional)
# But DO NOT ignore all CSVs because project needs some CSVs
data/raw/
*.zip

# Logs
*.log

# Temporary files
*.tmp
*.swp
